<header>
    <h1>Управление рассылками</h1>
    <p>Добро пожаловать в наш сервис!</p>
    <nav>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_list' %}">Список рассылок</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:message_list' %}">Список сообщений</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Создать сообщение</a>
    </nav>
</header>