{% extends 'mailing/base.html' %}

{% block title %}Детали рассылки{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<h2>Детали рассылки</h2>
<p>Сообщение: {{ mailing.message }}</p>
<p>ID: {{ mailing.id }}</p>
<p>Клиенту: {{ mailing.client }}</p>
<p>Дата создания: {{ mailing.start_datetime|date:"d.M.Y H:i" }}</p>
<a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary">Вернуться к списку</a>

{% endblock %}
