{% extends 'mailing/base.html' %}

{% block title %}Детали рассылки{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<h2>Список рассылок</h2>
<ul class="list-group">
    {% for mailing in object_list %}
        <li class="list-group-item">
            <a href="{% url 'mailing:mailing_detail' mailing.pk %}">{{mailing.message.subject}}</a> - {{mailing.start_datetime|date:"d.M.Y H:i"}} - {{mailing.end_datetime|date:"d.M.Y H:i" }}
        </li>
    {% endfor %}
</ul>
{% endblock %}

