{% extends 'mailing/base.html' %}

{% block title %}Форма для сообщений{% endblock %}

{% block content %}
<!--{% include 'mailing/header.html' %}-->
<h2>Форма для сообщений</h2>
<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="p-2 btn btn-outline-primary" >Сохранить</button>
    <a href="{% url 'mailing:message_list' %}" class="p-2 btn btn-outline-primary">Отменить</a>
</form>
{% endblock %}
 %}